#wpcf7-f12-p4-o1
	:max-width 800px
	:margin 0 auto
	h3
		:color $royal-purple
		:text-align center
		:font-size 36px
		:margin 0
	.row
		:text-align center
	.col-half
		:margin-bottom 0.5em
	input, textarea, select
		:border 1px solid $gold
		:background-color white
		:text-align center
		:color $royal-purple
		:margin 8px
		:padding 7px
		:transition all 0.5s
		:width 96%
		&:focus
			:outline none
			:border 3px solid $gold
	textarea
		:width 98%
	select
		:-webkit-appearance none
		:padding 7px
		:padding-left 15px
		:border-radius 4px
		&:after
			:content '^'
			:color $gold
	input[type=submit]
		:background-color $gold
		:box-shadow none
		:text-shadow none
		:color white
		:font-size 20px
		:display block
		:margin 0 auto
		&:hover, &:focus
			:background-color $gold-hover
			:border 1px solid $gold-hover
	// .span.wpcf7-form-control-wrap
	// 	:display block
	// 	:text-align center