.blog
	:padding 50px 0 
	&__single-post
		:padding 25px 0
		:border-bottom 2px solid $gold
		:font-family $body-font
		&:nth-child(2n)
			.blog__single--image
				:float right
				:margin-right 0
				:margin-left 5%	
		&:last-of-type
			:border-bottom none
		p 
			:margin 0
		h2
			:margin 0
		&-title
			:width 100%				
		&--title
			:color $royal-purple
			:display inline-block
			:font-size 24px
			:font-family $header-font
			:font-weight 600
			:line-height 36px
			a 
				:text-decoration none
				:color $royal-purple
				&:visited
					:color $royal-purple
						
		&--date
			:color $gold
			:display inline-block
			:font-size 18px
			:font-family $header-font
			:line-height 36px
		&--author 
			:color $gold
			:display inline-block
		&--category
			:display inline-block
			ul
				:padding 0
				:list-style none
				:margin 0
				a
					:color $gold
					:text-decoration none	
		&--cont
			:text-decoration none
			:color $gold
			&:hover
				:color $gold-hover
			&:visited 
				:color $gold	
	&__single		
		&--image
			:width 35%
			:display inline-block
			:margin-right 5%
			+display-for(sm xs)
				:width 100%
				:margin-right 0	
				img
					:width 100%
					:margin-bottom 25px
					
		&--excerpt
			:vertical-align top
			:width 60%
			:display inline-block
			+display-for(sm xs)
				:width 100%
		&-authcat
			:width 100%	
			:font-family $subheader-font
			:margin-bottom 25px	
		&--full-content
			p 
				:margin 20px 0
				&:first-of-type
					:margin-top 0
			+display-for(lg xl)
				:width 80%			
			
#blog-single
	:background $light-grey
	:padding 50px 0
	+display-for(sm xs)
		:padding 25px 0
	.container
		:padding 50px 25px
		:background white
		:border 1px solid rgba(0,0,0,0.3)
		+display-for(sm xs)
			:padding 20px
	
	#comments
		input, textarea, select
			:border 1px solid $gold
			:background-color white
			:color $royal-purple
			:padding 7px
			:transition all 0.5s
			:width 96%
			:margin-bottom 25px
			&:focus
				:outline none
				:border 1px solid $gold-hover
		input, select
			:text-align center		
		input[type=submit]
			:background-color $gold
			:box-shadow none
			:text-shadow none
			:color white
			:font-size 20px
			:display block
			:margin 0 auto
			&:hover, &:focus
				:background-color $gold-hover
				:border 1px solid $gold-hover		
		.required
			:color red
		.comments-title
			:color $royal-purple
			:font-size 18px
			:font-weight 600
			:margin-bottom 25px			
		.comment-list
			+display-for(lg xl)
				:width 80%
			:list-style none
			:margin 0
			li 
				:margin-bottom 25px
				:border-left 1px solid $gold
				:padding-left 25px
		.children
			:list-style none		
		.comment-meta
			:background-color white				
		.comment-author
			a
				:color $royal-purple
				:text-decoration none
		.comment-reply-link
			:color $gold
			&:hover
				:color $gold-hover		
		.comment-metadata
			a 
				:color $black
				:text-decoration none
				:border-bottom 1px solid $gold
				:font-size 13px		
		.comment-form-author
			+make-column(5.5)
			+make-gutter(0,1)
			:float left
			input
				:width 100%
		.comment-form-email
			+make-column(5.5)
			:float left
			input
				:width 100%
		.comment-form-comment
			textarea
				:width 100%		




							

